---
---
<html>
    <head>
        <title>Singapore International School @ Gamuda Gardens Class of 2022</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Source+Code+Pro:400,600" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:image" content="https://sexxis.github.io/classprofile/img/meta.png"> <!-- NEEDS CHANGE LATER WITH SCREENSHOT-->
        <!-- Search Engine -->
        <meta name="description" content="The Singapore International School @ Gamuda Gardens 2022 Class Profile is a report that showcases and reflects on the students high school career.">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="SIS@GG Class of 2022 Class Profile">
        <meta itemprop="description" content="The Singapore International School @ Gamuda Gardens 2022 Class Profile is a report that showcases and reflects on the students high school career.">
        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta name="og:title" content="SIS@GG Class of 2022 Class Profile">
        <meta name="og:description" content="The Singapore International School @ Gamuda Gardens 2022 Class Profile is a report that showcases and reflects on the students high school career.">
        <meta name="og:type" content="website">
        <meta property="og:url" content="https://sexxis.github.io/classprofile" /> <!--NEEDS CHANGE-->
        <meta name="keywords" content="singapore international school, gamuda, 2022, SIS@GG, gamuda gardens">
        <script>
          var host = "sexxis.github.io/classprofile";
          if ((host == window.location.host) && (window.location.protocol != "https:"))
              window.location.protocol = "https";
        </script>
        <script src="https://use.fontawesome.com/5306418b4e.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5QQPN1K9C5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-5QQPN1K9C5');
        </script>
    </head>
    <a class="goto_toc" id="goto_toc" href="#toc">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
        Sections
    </a>
    <body class="content">
    {{ content }}
    </body>
    <script src="./build/bundle.js"></script>
</html>
